@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  text-decoration: none;
}
a:visited{
  text-decoration: none;
  color: white;
}
a{
  text-decoration: none;
}